.hero{
    width: 100%;
    margin: 0 auto; 
    max-width: 1600px;
    background-color: rgb(240, 240, 240);
    padding-top: 50px;
    padding-bottom: 50px;
}
.herocon{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    h3{
        font-weight: 400;
        opacity: 0.5;
    }
    h2{
        font-size: 45px;
        font-weight: 700;
    }
    button{
        width: 150px;
        height: 50px;
        border-radius: 25px;
        background-color: #004743;
        color: white;
        font-weight: 600;
        font-size: 15px;
        border: none;
    }
}